<!DOCTYPE html>
<html>
<head>
  <title>Yello</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% if flash.present? %>
    <div class="alert alert-danger">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
